.foot{
    width: 100%;
    background-color: $colorSecundario;
    color:$colorBlanco;
    .redes{
        font-size: 24px;
    }
    .footOne{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
    }
}